

.event {
	
	width: 150px;
	height: 150px;
	position: relative;
	float: left;
	    
	-webkit-box-shadow: 2px 4px 5px -1px rgba(15, 15, 15, 0.75);
}

.event .date {
    width: 100%;
	
    background-color: rgb(224, 231, 237);
    height: 25px;
    line-height: 25px;
    border: 1px solid rgb(224, 231, 237);
    
    font-weight:bold;
    color: rgb(85, 88, 118);
    text-align: left;
    text-indent: 7px;
    
    font-family: 'ansonregular';
}

.event .textContent {
	width: 90%;
	height: 92%;
	margin-left: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 12px;
	font-size: 12px;
	padding-top: 7px;
}

.event .textContentBox {
    height: 125px;
	
    width: 101%;
    text-align: left;
    border-color: rgb(224, 231, 237);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    background-color: white;
    border-radius: 0px 0px 3px 3px;
    margin-left: -1px !important;
}

.eventBox {
	width:auto;
	height:auto;
	float:left;
	margin-left:15px;
}