

@font-face {
    font-family: 'ansonregular';
    src: url('anson-regular-webfont.eot');
    src: url('anson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('anson-regular-webfont.woff') format('woff'),
         url('anson-regular-webfont.ttf') format('truetype'),
         url('anson-regular-webfont.svg#ansonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body {
	
	height:100%;
	width:100%;
	padding: 0px;
	margin: 0px;

}

body {
	overflow:hidden;
}

.main_wrapper {
	padding:0px;
    margin: 0px;
    position: absolute;

    height: 100%;
    width: 100%;

    top: 0px;
    left: 0px;

	font-family: 'Droid Sans',sans-serif;    
	/*
    font-family: Calibri;
	font-weight: bold;
	font-style: italic;
	*/
	font-size: 14px;
	text-align: center;
	line-height: 33px;
    
    background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
	-webkit-transition: all 100ms cubic-bezier(0,0,0.25,1);
	
	overflow: auto;
	/*overflow-y: hidden;*/
}

/*
.main_wrapper::-webkit-scrollbar {
	width: 4px;
	height: 10px;
}
*/

input:focus {outline: none; }

.templates {
	display:none;
}
