

.row {
	width: 10000px;
	height: 150px;
}

.rowTab {
	float: left;
	width: 50px;
	height: 100%;
	border-top: 1px solid rgb(204,0,0);
	border-bottom: 1px solid rgb(204,0,0);
	-webkit-box-shadow: -2px 2px 1px -1px rgba(204, 16, 16, 0.75);
	background-color: transparent;
	margin-left: 4px;
	position: absolute;
	z-index: 10;	
}

.rowTab .name {
	width: 150px;
	height: 30px;
	background-color: rgb(204,0,0);
	-webkit-transform: rotate(270deg);
	position: absolute;
	left: -65px;
	top: 60px;
	color: white;
	margin-left: 5px;
}

.rowTab .plusButton {
	width: 151px;
	height: 20px;
	background-color: rgb(204,0,0);
	-webkit-transform: rotate(270deg);
	position: absolute;
	top: 65px;
	left: -36px;
	color: white;
	line-height: 14px;
	opacity:0;
	-webkit-transition: opacity .5s linear, visibility .2s linear .5s;
}

.rowTab .plusButton:hover {
	opacity:1;
}

.rowTabBuffer {
	float:left;
	height: 100%;
	width: 55px;
}