

.timelineMenu {
	
	z-index:200;
	position: absolute;
	height:100%;
	width: 100px;
	background-color:orange;
	left:100%;
	font-family:'ansonregular';
}

.timelineMenu .hoverBar {
	position: absolute;
	height: 100%;
	width: 50px;
	background-color: rgb(221, 196, 189);
	left: -50px;
	opacity: 0;
	-webkit-transition: opacity .5s linear, visibility .2s linear .5s;
}

.timelineMenu .hoverBar:hover {
	opacity:0.5;
}

.timelineMenu .menuBody {
	
	cursor:default;
	position:absolute;
	height:100%;
	width: 390px;
	left: 0px;
	
	transition: 1s cubic-bezier(0.87, 0, 0.16, 1)
}
.timelineMenu .menuBody.active {
	left: -390px;
}

.menuBody .searchBar {
	
    padding-top: 7px;
    height: 40px;
    float: left;
    margin-bottom: 7px;
}

.menuBody .searchBar .searchBox {
    width: 343px;
	
    border: none;
    height: 38px;
    float: left;
    font-size: 37px;
    font-family: 'ansonregular';
    background-color: white;
    border: 1px solid rgba(240,240,240,0.7);
    margin-bottom: 5px;
}

.menuBody .searchBar .createTimelineButton {
    float: left;
	
    background-color: rgb(204,0,0);
    height: 42px;
    width: 45px;
    font-family: 'ansonregular';
    font-size: 46px;
    line-height: 32px;
    text-indent: 12px;
    color: white;
}

.menuBody .timelineNames {
    float: left;
	
    width: 100%;
}

.menuBody .timelineNames .loaded {
    height: auto;
	
    width: 100%;
    float: left;
    margin-bottom: 4px;
}

.menuBody .timelineNames .notLoaded {
    height: auto;  width: 100%;  float: left;
	
}

.timelineButton {
	float:left;
	width:100%;
	height: 43px;
    font-family: 'ansonregular';
}

.timelineButton .timelineLabel, .hideButton {
	width:auto;
	height:100%;
	float:right;
    background-color: rgb(230,230,230);
	font-size: 36px;
	padding-left: 27px;
	padding-right: 13px;
}

.loadedTimeline .timelineLabel {
	background-color: rgb(204,0,0);
	color:white;
}

.hideButton {
	height: 42px;
	margin-top: 33px;	
}




